# Automatically build the project and run any configured tests for every push
# and submitted pull request. This can help catch issues that only occur on
# certain platforms or Java versions, and provides a first line of defence
# against bad commits.

name: Build Mods (1.18)
on: [pull_request, push]

jobs:
  build:
    strategy:
      matrix:
        # Use these Java versions
        java: [
          #16,    minimum supported by Minecraft
          17,    # Current Java LTS
        ]
        # and run on both Linux and Windows
        os: [windows-2022]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Make Gradle Wrapper Executable
        if: ${{ runner.os != 'Windows' }}
        run: chmod +x ./gradlew
      - name: Build Mods
        run: ./gradlew build
      - name: Capture Build Artifacts
        if: ${{ runner.os == 'Windows' }} # Only upload artifacts built on one OS
        uses: actions/upload-artifact@v2
        with:
          path: build/libs/
